*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}











/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
html, body {
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

/* RESPONSIVE (telefonlar uchun) */
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
  }

  .container {
    padding: 0 16px;
  }
}
